body{
    font-family: 'Sono', sans-serif;
}

h1{
    font-size:50px; ;
}
h2{
    font-size: 45px;
}
.color{
    color: red;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;

}
.half-width img{
    width: 100%;


}